.body{
    -webkit-font-smoothing: antialiased;
    background: #fff;
    color: #3c3c3c;
    font: 500 17px/20px sans-serif;
    height: 100%;
}
.fullScreen{
    height:100%;
}
.grid{
    width:auto;
    margin:0 10%;
    display: grid;
    row-gap: 24px;
    grid-template-rows: min-content 1fr min-content
}
.header{
    display: grid;
    column-gap: 24px;
    grid-template-columns: 16px 1fr;
    height: 80px;
    align-items: center;
}
.footer{
    display: grid;
    column-gap: 25px;
    grid-template-columns: 100px 1fr;
    margin-bottom: 25px;
}
